.thank-you-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/5912586/pexels-photo-5912586.jpeg"); 
    background-size: cover;
    background-position: center;
  }
  
  .thank-you-box {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    color: rgb(31, 22, 22);
  }
  
  .thank-you-box h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .thank-you-box button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  